p {
    font-size: 1.5rem;
}

p.results {
    font-size: 1.2rem;
}

#searchBtn {
    padding: 0%;
}

#plotTranslate {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 750px;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

#preBtns {
    display: none;
}